 //全局变量声明
$height: 22rem;
$width: 22rem;
$heightimg: 8.75rem;
$widthimg: 8.75rem;
$heighttitle: 90%;
$widthtitle: 90%;
$bottomfooter: 3.125rem;
$heightfooter: 3.125rem;
$widthlgbtn: 12rem;
$line-heightfooter: 3.125rem;
$widthfooter: 100%;
$bgcolor: #ea2530;
$bgcolor2: rgb(234, 109, 37);
$whitecolor: #fff;
$color166: rgb(251, 106, 116);
$top0: 0;
$left0: 0;
$right0: 0;
$bottom0: 0;
$blackcolor: #2c2c2c;
.login {
  position: absolute;
  top: $top0;
  left: $top0;
  right: $right0;
  bottom: $bottom0;
  overflow: hidden;
  overflow-y: auto;
  z-index: 1000;
  background: url("/static/images/login/login.png") center 100% #65809d;
  * {
    font-size: 0.95rem;
  }
  p {
    margin: 4rem 0 0 6rem;
  }
  .imgstyle {
    height: $heightimg;
    width: $widthimg;
  }
  .titlestyle {
    height: $heighttitle;
    width: $widthtitle;
  }
  .pstyle {
    margin: 5rem 0 0 0;
  }
}
.lana {
  color: $blackcolor;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: 0.1rem;
}
.lanb {
  color: $whitecolor;
  font-size: 1rem;
  cursor: pointer;
}
.filed {
  margin: 0px 1.875rem 1rem 1.875rem;
}
.right {
  text-align: right;
  text-align: -webkit-right;
  color: $color166;
}
.left {
  color: $color166;
  padding-top: 30px;
  text-align: -webkit-left;
}
.lgin {
  margin-top: 11rem;
  .el-button {
    width: $widthlgbtn;
    background-color: $bgcolor;
  }
  .el-button:hover {
    width: $widthlgbtn;
    background-color: $bgcolor2;
  }
}
.login-form {
  height: 400px;
  width: 400px;
  background: url("/static/images/login/form_bg.png") no-repeat;
  background-size: 100% 100%; 
  .signstyle {
    float: right;
    margin-top: 1.4rem;
    a {
      cursor: pointer;
    }
  }
}
.el-button {
  border: 0px solid #dcdfe6;
}
.login-btn {
  color: $whitecolor;
  background-color: $bgcolor;
  font-size: 1rem;
  margin-top: 0.5rem;
}
.footerstyle {
  position: absolute;
  bottom: $bottomfooter;
  height: $heightfooter;
  text-align: center;
  line-height: $line-heightfooter;
  width: $widthfooter;
}
.logincenter {
  margin-top: 3rem;
}
.muchtab {
  a {
    cursor: pointer;
  }
}
.yanzhengma_input{
  width: 220px;
}
.disappear{
  visibility:hidden;
}
#code {
  font-size: 18px;
  letter-spacing: 3px;
  color: #053d84;
  background: #f2f2f5;
}
a {
  text-decoration: none;
  color: $bgcolor;
}
.icou {
  font-size:2.2rem;
}
.alert{
  position:absolute;
  top:69px;
  margin-left:0px !important;
  color:#EA2530;
  font-size: 0.8rem;
}
.alert1{
  position:absolute;
  top:125px;
  margin-left:0px !important;
  color:#EA2530;
  font-size: 0.8rem;
}
.alert2{
  position:absolute;
  top:181px;
  margin-left:0px !important;
  color:#EA2530;
  font-size: 0.8rem;
}
.alert3{
  position:absolute;
  top:239px;
  margin-left:0px !important;
  color:#EA2530;
  font-size: 0.8rem;
}
/*获取验证码样式*/
.phonebtn {
  position: absolute;
  margin-top: -1.82rem;
  margin-left: 4.2rem;
  border: none;
  background: #ffffff;
  color: #fb6a74;
  cursor: pointer;
  outline: none;
}
/*Get Verification Code样式*/
.phonebtnEN {
  position: absolute;
  margin-top: -1.9rem;
  margin-left: 2.2rem;
  border: none;
  background:rgba(0, 0, 0, 0);
  color: #fb6a74;
  cursor: pointer;
  width: 132px;
  outline: none;
  font-size: 0.8rem;
}
.bk{
  color:yellow !important;
  background:chocolate !important;
  border:0px;
}
//登陆、注册、Login、Register
.formTitleStyle{
  font-size: 1.3rem;
}

//应该是没用--start------------------------------
.clearfix:after {
  content: '';
  display: block;
  height: 0;
  clear: both;
}
.login_or_register{
  background-color: #f2f2f5;
  padding-bottom: 50px;
}
.logo1{
  text-align: center;
  padding:40px 0 50px ;
  margin:0 auto;
}
.login_bac{
  width:1180px;
  height: 728px;
  background-size: 1180px 728px;
  margin: 0 auto;
  position: relative;
}
.register_content{
  width:400px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, .5);
  position: absolute;
  left:60px;
  top:80px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.register_content p{
  margin-top: 30px;
  font-size: 25px;
  line-height: 18px;
  margin-bottom: 15px;
}
.register_content input{
  padding: 5px 0 5px 10px;
  margin-left: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
}
.register_content_input{
  width:300px;
  height: 30px;
  padding: 5px 0 5px 10px;
  border: 1px solid #e6e6e6;
  margin-left: 30px;
}
.register_content .cue{
  font-size: 14px;
  text-align: center;
  margin-top: 15px;
}
.tianxie_img{
  width:26px;
  vertical-align: middle;
  margin-right: 10px;
}
.tishixiaoxi{
  font-size: 14px;
  color:#ed711f;
  display: block;
  margin-left: 30px;
  line-height: 30px;
}
.verification{
  vertical-align: middle;
  margin-left: 10px;
}
.agreement {
  position: relative;
  top: -10px;
}
.read_already {
  position: relative;
  top: -21px;
  font-size: 12px;
  color: #999;
  cursor: pointer;
  margin-left: 5px;
}
.read_already a {
  color: #053d84;
}
.send_message {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  color: #ccc;
  padding-left: 45px;
  padding-right: 5px;
  background: url("/static/img/message.png") no-repeat 10px 8px;
  background-size: 25px;
  border: 1px solid #f3f3f3;
  margin-left: 10px;
  cursor: pointer;
}
.next {
  display: block;
  width: 287px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #053d84;
  border-radius: 5px;
  margin-left: 40px;
  cursor: pointer;
}
.login_content1 {
  width: 400px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 60px;
  top: 80px;
  padding-left: 30px;
  padding-bottom: 50px;
}
.user_login {
  display: block;
  width: 287px;
  height: 50px;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  background-color: #a2be3c;
  border-radius: 5px;
  margin-left: 40px;
  cursor: pointer;
}
.login_content1 p {
  margin-top: 30px;
  font-size: 25px;
  line-height: 18px;
  margin-bottom: 15px;
}
.login_content1 input {
  padding: 5px 0 5px 10px;
  margin-left: 30px;
  height: 30px;
  border: 1px solid #e6e6e6;
}
.verification1 {
  // vertical-align: middle;
  // transform: translate(-15px,0);
  height: 2.5rem;
  width: 7.1875rem;
}
.forget {
  text-align: right;
  position: relative;
  top: -20px;
  cursor: pointer;
}
.forget a {
  font-size: 14px;
  color: #053d84;
  margin-right: 80px;
}
/*弹窗*/
.tanchuang {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.hiddenTanchuang {
  display: none;
}
.inTanchuang {
  position: absolute;
  text-align: center;
  width: 300px;
  height: 169px;
  padding-top: 10px;
  left: 50%;
  top: 50%;
  border-radius: 10px;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
}
.errorIcon {
  width: 55px;
}
.sure {
  display: inline-block;
  color: #fff;
  width: 100px;
  height: 20px;
  padding: 6px 10px;
  background: #053d84;
  border-radius: 5px;
  font-size: 18px;
  line-height: 18px;
  margin-top: 10px;
  cursor: pointer;
}
.tip{
  position:absolute;
  top:181px;
  margin-left:0px !important;
  color:#EA2530;
}
//--end

